*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #676767;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #fff;
    padding: 10px 20px 20px;
    border-radius: 10px;
}
.display{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button{
    padding: 12px 10px;
    background-color: #eee;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.operator{
    color: #10A37F;
    font-weight: 600;
}
